body{
    font-size: 17px;
    font-weight: 400;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #ffffff;
    font-style: normal;
    margin: 0;
}
#canvas{
    border: #000000 solid 1px;
    margin: 100px auto;
    display: block;
}